@import 'variables';
.website-header{
  background-color: map-get($theme-colors, secondary);
  a.navbar-brand {
  color: map-get($theme-colors, primary);
  @extend %smooth-hover;
    &:hover{
      opacity: .8;
    }
  }
.menu-menu-1-container #menu-menu-1 li a {
  color: map-get($theme-colors, primary);
  text-decoration: none;
  @extend %smooth-hover;
    &:hover{
      opacity: .8;
    }
  }
      
.menu-menu-1-container #menu-menu-1 li {
  display: inline;
  margin-left: 10px;
  }
}

